{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}
{% block head %}
  <style>
    .link {
      color: #ff9800;
    }
    .link:hover {
      text-decoration: underline;
    }
    label{
      display: none;
    }
    .help-block{
      color: #fff;
      background-color: #ff9800;
      /* border-color: #e11b0c;  */
      border-color: #ff9800; 
    }
  </style>
{% endblock %}

{% block content %}
<div class="page-header header-filter" data-parallax="true" style=" background-image: url('/static/img/profile_city.jpg'); ">
  <div class="container text-center card">
      <div class="card-header card-header-danger">
        <h4>{% trans "Sign In" %}</h4>
      </div>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p class="card-title text-center">{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p class="card-title text-center">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}"><span class="link">Sign Up</span></a> first.{% endblocktrans %}</p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-danger btn-round btn-lg" type="submit">{% trans "Sign In" %}</button><br/>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>  
      </form>
    </div>
</div>
{% endblock %}
