{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block head %}
  <style>
    .link {
      color: #ff9800;
    }
    .link:hover {
      text-decoration: underline;
    }
    label{
      display: none;
    }
    .help-block{
      color: #fff;
      background-color: #ff9800;
      /* border-color: #e11b0c;  */
      border-color: #ff9800; 
    }
    .card{
      width: 35%;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true" style=" background-image: url('/static/img/profile_city.jpg'); ">
        <div class="container text-center card">
            <div class="card-header card-header-danger">
                <h4>{% trans "Password Reset" %}</h4>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>

            <p class="card-title text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-danger btn-round btn-lg" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
