{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block head %}
  <style>
    .link {
      color: #ff9800;
    }
    .link:hover {
      text-decoration: underline;
    }
    label{
      display: none;
    }
    .help-block{
      color: #fff;
      background-color: #ff9800;
      /* border-color: #e11b0c;  */
      border-color: #ff9800; 
    }
    .card{
      width: 35%;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true" style=" background-image: url('/static/img/profile_city.jpg'); ">
        <div class="container text-center card">
            <div class="card-header card-header-danger">
                <h4>{% trans "Change Password" %}</h4>
            </div>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-danger btn-round btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
