{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El-DJANGOSITA | {% block title %}  {% endblock %}</title>

    <!--     Fonts and icons     -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>    
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/google_font.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">       
    <link rel="stylesheet" href="{% static 'css/material-kit.css' %}">
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-material-design.js' %}"></script>

    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{% static 'js/Moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-datetimepicker.min.js' %}"></script>

    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static 'js/plugins/nouislider.min.js' %}"></script>

    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="/static/js/material-kit.js?v=2.0.0"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
        <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
                <div class="container">
                    <div class="navbar-translate">
                        <a class="navbar-brand" href="/">El-Djangoista</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="material-icons">person</i> Profile
                                </a>
                                <div class="dropdown-menu dropdown-with-icons">
                                    {% if request.user.is_authenticated %}
                                        <a href="/accounts/password/change/" class="dropdown-item">
                                            <i class="material-icons">build</i> Change Password
                                        </a>
                                        <a href="/accounts/logout/" class="dropdown-item">
                                            <i class="material-icons">exit_to_app</i> Logout
                                        </a>
                                    {% else %}
                                        <a href="/accounts/login/" class="dropdown-item">
                                            <i class="material-icons">fingerprint</i> Login
                                        </a>
                                        <a href="/accounts/signup/" class="dropdown-item">
                                            <i class="material-icons">portrait</i> Sign Up
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    {% block content %}
        <h1>BASE</h1>
    {% endblock %}

    {% block footer%}
    {% endblock %}
</body>
</html>